<h1> Welcome <%= @user.first_name %> </h1>

<h2> 
  <%= link_to "Your Profile", user_path(@user) %>
</h2>

<p>
  <%= @user.first_name %>
  <%= @user.email %></br>
</p>

<h3> Friends: </h3>

<% @friends.each do |f| %>
  <% if f.accepted_request == true %>
    <div><%= link_to f.friend.first_name, user_path(f.friend_id) %></div>
  <% end %>
<% end %>


<h3> Friend Requests: </h3>

  <% @friends.each do |f| %>
    <% if f.accepted_request == false %>
      <div><%= link_to f.friend.first_name, user_path(f.friend_id) %> </div>
    <% end %>
  <% end %>
<h3>

<div>
    You are currently logged in as <%= @user.first_name %></br>
    <%= link_to "Logout here", destroy_user_session_path, method: :delete %>
</div>