<h1 class="box is-centered columns is-size-3 m-3"> Welcome <%= @user.first_name %>! </h1>

<h3 class="columns is-centered is-size-4 m-3 bold"> Friends: </h3>
<% @send_requests.each do |f| %>
  <% if f.accepted_request %>
    <div class="columns is-centered m-2">
      <%= f.friend.first_name %></br>
    </div>
  <% end %>
<% end %>

<% @recieved_requests.each do |f| %>
  <% if f.accepted_request %>
    <div class="columns is-centered m-2">
      <%= f.friend.first_name %></br>
    </div>
  <% end %>
<% end %>

<h3 class="columns is-centered is-size-4 m-3"> Your send friend requests: </h3>
<% @send_requests.each do |f| %>
  <% next if f.accepted_request %>
    <div class="columns is-centered m-2">
      <%= f.friend.first_name %></br>
    </div>
<% end %>

<h3 class="columns is-centered is-size-4 m-3"> Pending friend requests: </h3>
<% @recieved_requests.each do |f| %>
  <% next if f.accepted_request %>
  <div class="columns is-centered m-2">
    <%= link_to f.user.first_name, user_path(f.user_id) %> 
    <%= form_with(url: friendship_path(f.id), method: "patch") do |form| %>
      <%= form.submit "Accept", :class => 'button is-primary is-small ml-2' %>
      <%= form.submit "Decline", :class => 'button is-danger is-small ml-2' %>
    <% end %>
  </div>
<% end %>

<h3 class="box columns is-centered is-size-4 m-5">Latest Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li class="columns is-centered m-3">
      <%= link_to post.title, post_path(post) %>
    </li>
  <% end %>
</ul>

<h3 class="box columns is-centered is-size-4 m-5"> Latest Users </h3>
<% @users.each do |u| %>
  <%= next if @friends.include?(u.id) || current_user.id == u.id %>
  <div class="columns is-centered m-3">
    <%= link_to u.first_name, user_path(u) %>
    <%= link_to u.last_name, user_path(u), :class => "ml-2"  %>
    <%= form_with model: [ @user, @user.friendships.build ]  do |form| %>
        <%= form.hidden_field :accepted_request, value: false %>
        <%= form.hidden_field :friend_id, value: u.id %>
        <%= form.submit "Send Friend Request", :class => 'button is-primary is-small ml-2'%>
    <% end %>
  </div>
<% end %>