<% if current_user.id == params[:id].to_i %>
  <h1> This is your profile, <%= @user.first_name %></h1>
<% else %>
  <h1> This is the profile of <%= @user.first_name %> </h1>
<% end %>

<% if @user.avatar.attached? %>
  <div>
    <%= image_tag @user.avatar %>
  </div>
<% end %>

<div><%= @user.info if @user.info %></div>

<h2> Recent Posts </h2>
<% @posts.each do |post| %>
  <li>
    <ul><%= link_to post.title, post_path(post) %></ul>
  </li>
<% end %>

<% if current_user.id == params[:id].to_i %>
  <h2> Update your profile here! </h2>
  <%= form_with model: @user do |form| %>
    <div>
      <%= form.text_area :info %>
    </div>
    <div>
      <%= form.file_field :avatar %>
    </div>
    <div>
      <%= form.submit "Update your Profile Information!" %>
    </div>
  <% end %>
<% end %>

