<div class="columns is-centered is-size-2">
  <%= link_to post.title, post_path(post) %>
</div>

<p class="columns is-centered is-size-4">
  by: <%= link_to post.user.first_name, user_path(post.user) %>
</p>
<div class="columns is-centered">
  <%= post.body %>
</div>
<% if post.comments.any? %>
<div class="columns is-centered is-size-4">
  Comments:
</div>
  <% post.comments.each do |comment| %>
      <div class="columns is-centered"><%= comment.body %><br/></div>
      <div class="columns is-centered">by: <%= comment.commenter.first_name %></div>
  <% end %>
<% end %>
<div class="columns is-centered">
  Total Likes: <%= post.likes.count %>
</div>
