<%= render 'shared/post_content', :post => @post %>

<p class="columns is-centered">
  Liked by<% @post.likes.each do |like| %>
    <%= like.user.first_name %>
  <% end %>
</p>

<% if @user_likes.include?(current_user.id) %>
<% else %>
  <div class="columns is-centered is-size-4">
    Like this Post!
  </div>
  <%= form_with(url: likes_path, method: "post") do |form| %>
    <p class="columns is-centered">
      <%= form.hidden_field :post_id, value: @post.id %>
      <%= form.submit "Like!", :class => 'button is-primary' %>
    </p>
  <% end %>
<% end %>

<div class="columns is-centered is-size-4 mt-4">
  Add a comment:
</div>

<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <div class="columns is-centered mt-4">
    <%= form.text_area :body %>
  </div>
  <div class="columns is-centered mt-4">
    <%= form.submit :class => 'button is-primary is-medium' %>
  </div>
<% end %>


<div><%= link_to "Back to your timeline", posts_path %></div>