<!DOCTYPE html>
<html>
  <head>
    <title>OdinFakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <% if current_user %>
        <button class="button is-danger is-small">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </button>
        <button class="button is-link is-small">
          <%= link_to "Your Profile", user_path(current_user) %>
        </button>
        <button class="button is-link is-small">
          <%= link_to "Create a Post", new_post_path %>
        </button>
        <button class="button is-link is-small">
          <%= link_to "Timeline", posts_path %>
        </button>
        <% else %>
        <button class="button is-danger is-small">
          <%= link_to "Login", new_user_session_path %>
        </button>
      <% end %>
      <button class="button is-primary is-small">
        <%= link_to "Home", root_path %>
      </button>
    </nav>
    <%= yield %>
  </body>
</html>